<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
  {{ content_for_header }}
  {{ 'tailwind-output.css' | asset_url | stylesheet_tag }}
</head>
<body>
  {% sections 'header-group' %}
  {{ content_for_layout }}
</body>
</html>