<!-- Announcement bar -->
<section style="background-color: {{ section.settings.announcement_bg_color }}; color: {{ section.settings.announcement_text_color }};" class="w-full px-4">
  <div class="container flex justify-center items-center h-10 lg:justify-between">
    {% if section.blocks.size != 0 %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when "announcement-block" %}
            <a href="#" class="announcement block font-medium text-sm">{{ block.settings.announcement_text }}</a>
          {% else %}
            
        {% endcase %}
      {% endfor %}
    {% endif %}
   
  </div>
</section>
{% schema %}
  {
    "name": "Announcement",
    "class": "announcement",
    "limit": 1,
    "settings": [
      {
        "type": "header",
        "content": "Color Settings"
      }, {
        "type": "color",
        "id": "announcement_bg_color",
        "label": "Background Color",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "announcement_text_color",
        "label": "Text Color",
        "default": "#ffffff"
      }
    ],
    "blocks": [
        {
            "name": "Announcement-block",
            "type": "announcement-block",
            "limit": 4,
            "settings": [
                {
                    "type": "text",
                    "id": "announcement_text",
                    "label": "Announcement"

                }
            ]


        }
    ]
  }
{% endschema %}