@import "tailwindcss";
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 100%;
}
@media (min-width: 1800px) {
  .container {
    max-width: 1800px;
  }
}

/* Hiding scroll bar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}